nav, .navigationbar {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.444);
    color: white;
    text-align: center;
    font-size: 40px;
    padding: 10px;
}

.header {
    border-radius: 5px;
    color: rgba(249, 250, 252, 0.766);
    padding: 15px;
    text-align: center;
    background-color: rgba(0, 255, 89, 0.712);
    margin: 15px;
}

.footer, footer {
    border-radius: 5px;
    color: rgb(239, 239, 239);
    background-color: rgba(154, 154, 154, 0.96);
    padding: 2px;
    text-align: center;
    position: sticky;
    left: 0;
    bottom: 0px;
    width: 100%;
}

.section:not(active) {
    border-radius: 5px;
    background-color: #8edd88c7;
    text-align: center;
    width: 500px;
    margin: auto;
    padding: 10%;
    color: white;
}

.podbaydoors, .podbaydoors2 {
    color: rgb(255, 255, 255);
    border-radius: 5px;
    background-color: #00d24a53; 
    padding: 20px;
    text-align: center;
}

.bg-image {
    background-color: rgba(0, 0, 0, 0.884);
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/hal-9000-gaspar-avila.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /* To achieve opacity, use an overlay or rgba background color if needed */
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

a:hover {
    color: rgb(0, 255, 123);
}
a:active {
    color: rgb(255, 0, 0);
}