.header {
    border-radius: 5px;
    color: rgba(65, 105, 225, 0.766);
    padding: 20px;
    text-align: center;
}

.footer {
    border-radius: 5px;
    color: rgba(205, 251, 0, 0.489);
    color: rgb(239, 239, 239);
    stroke: black;
    stroke-width: 4px;
    background-color: rgba(0, 255, 255, 0.777);
    padding: 10px;
    text-align: center;
}

.section:not(active) {
    border-radius: 5px;
    background-color: #8edd88c7;
    padding: 20px;
    text-align: center;
    width: 501px;
    margin: auto;
    padding: 10%;
    outline: 10px;
    color: white;
    
}

.podbaydoors {
    color: rgb(255, 255, 255);
    stroke: black;
    outline: black;
    outline-width: 10px;
    stroke-width: 4px;
    border-radius: 5px;
    background-color: #00d24a53;
    padding: 20px;
    text-align: center;
}

.bg-image {
    /* The image used */
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/1/hal-9000-gaspar-avila.jpg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body,
html {
    height: 100%;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}